@font-face {
    font-family: 'Mathematica';
    src: url('../fonts/mathematica/Mathematica.eot');
    src: url('../fonts/mathematica/Mathematica.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/mathematica/Mathematica.woff') format('woff'),
         url('../fonts/mathematica/Mathematica.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'Mathematica';
    src: url('../fonts/mathematica/Mathematica-Bold.eot');
    src: url('../fonts/mathematica/Mathematica-Bold.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/mathematica/Mathematica-Bold.woff') format('woff'),
         url('../fonts/mathematica/Mathematica-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'MathematicaMono';
    src: url('../fonts/mathematica/MathematicaMono.eot');
    src: url('../fonts/mathematica/MathematicaMono.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/mathematica/MathematicaMono.woff') format('woff'),
         url('../fonts/mathematica/MathematicaMono.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'MathematicaMono';
    src: url('../fonts/mathematica/MathematicaMono-Bold.eot');
    src: url('../fonts/mathematica/MathematicaMono-Bold.eot?#iefix') format('embedded-opentype'),
	 url('../fonts/mathematica/MathematicaMono-Bold.woff') format('woff'),
         url('../fonts/mathematica/MathematicaMono-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
src: url(../fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot);
src: local('Open Sans'), local('OpenSans'), url(../fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3fY6323mHUZFJMgTvxaG2iE.eot) format('embedded-opentype'), url(../fonts/opensans/v7/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 200;
src: url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot);
src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFl_EbE5kujbLzdX6sKqH6g.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGMa9awK0IKUjIWABZIchFI8.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 300;
src: url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot);
src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGBlTL9oEQvYTI0YAW1-Ysv0.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNbE_oMaV8t2eFeISPpzbdE.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
src: url(../fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot);
src: local('Source Sans Pro'), local('SourceSansPro-Regular'), url(../fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlN0tugusXa58UbOrParLRF0.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
src: url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot);
src: local('Source Sans Pro Semibold'), local('SourceSansPro-Semibold'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGNanmHNzStikJN_FjplbBik.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGJ6-ys_j0H4QL65VLqzI3wI.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
src: url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot);
src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFV89XnfCtb1fhQGOlhyqi8.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 900;
src: url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot);
src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGCDZg7i-e40o9FYYiSpZxAc.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/toadOcfmlt9b38dHJxOBGHiec-hVyr2k4iOzEQsW1iE.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 200;
src: url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6CPAIRw3TZpZEbtNzDM7Nlo.eot);
src: local('Source Sans Pro ExtraLight Italic'), local('SourceSansPro-ExtraLightIt'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6CPAIRw3TZpZEbtNzDM7Nlo.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6PwwJPUC4r0o28cUCbhjOjM.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 300;
src: url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6Ffv2gilBNcWxh_XnzykpgY.eot);
src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightIt'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6Ffv2gilBNcWxh_XnzykpgY.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6GGomRtBD2u8FwSY4jjlmeA.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 400;
src: url(../fonts/sourcesanspro/v7/M2Jd71oPJhLKp0zdtTvoM04EkD-uilk0_oIxFXvMtLk.eot);
src: local('Source Sans Pro Italic'), local('SourceSansPro-It'), url(../fonts/sourcesanspro/v7/M2Jd71oPJhLKp0zdtTvoM04EkD-uilk0_oIxFXvMtLk.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/M2Jd71oPJhLKp0zdtTvoMzNrcjQuD0pTu1za2FULaMs.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 600;
src: url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6EbumxWHRSe1oVyAWeloI5o.eot);
src: local('Source Sans Pro Semibold Italic'), local('SourceSansPro-SemiboldIt'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6EbumxWHRSe1oVyAWeloI5o.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6PULlOK_XQENnt2ryrY843E.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 700;
src: url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6HXzH4U_Axe6qCclt7v7nW0.eot);
src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldIt'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6HXzH4U_Axe6qCclt7v7nW0.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6Nog-We9VNve39Jr4Vs_aDc.woff) format('woff');
}

@font-face {
font-family: 'Source Sans Pro';
font-style: italic;
font-weight: 900;
src: url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6JbSLHYK2KPWJI4XZKReQz0.eot);
src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackIt'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6JbSLHYK2KPWJI4XZKReQz0.eot) format('embedded-opentype'), url(../fonts/sourcesanspro/v7/fpTVHK8qsXbIeTHTrnQH6ONg1gFYvjbPSGxSBhvPu6E.woff) format('woff');
}
